.logoparade {
    width:100%;
    height: 200px;
    position: relative;
}

.logoparade div.scrollableArea div
{
    position: relative;
    float: left;
    margin-left: 5px;
    padding: 0;
    /* If you don't want the images in the scroller to be selectable, try the following
       block of code. It's just a nice feature that prevent the images from
       accidentally becoming selected/inverted when the user interacts with the scroller. */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}